body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.calculator {
    height: 600px; 
    width: 500px;
    background: black;
    border: 10px solid dimgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.display{
    background: rgb(177, 173, 173);
    flex: 1 1 0;
    margin:5px
}
.keypad{
    flex: 4 1 0;
}